$legacy-stylesheet: false;

@import "_project-settings";
@import "_screen-includes";

#browser-upgrade-notice {

	display: none;

	html.ie8 &,
	html.ie9 & {
		padding: 240px;
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		background: $gray-xx-light;
		text-align: center;
		font-size: 36px;
		z-index: 9999999999;
	}
}

html.ie8 #body-wrap,
html.ie9 #body-wrap {
	display: none;
}