.pg-brand-home {

	.top-courses-title {
		text-align: center;
		text-transform: uppercase;
		font-weight: normal;
		color: $sc;
		margin-top: $sz-med;

		@include bp-min($bp-max) {
			margin-top: $sz-x-lrg;
			margin-bottom: $sz-lrg;
			font-size: 36px;
		}
	}

	.hero-banner {
		width: 100%;

		picture {
			width: 100%;

			img {
				width: 100%;
			}
		}
	}

	.two-part-feature {

		&.brand-primary-color {

			.button {
				background-color: $brand-primary-color;
				color: $white;
				border-color: $brand-primary-color;

				&:hover {
					background-color: lighten($brand-primary-color, 15%);
				}

				&:active {
					background-color: darken($brand-primary-color, 15%);
				}	
			}

			.title {
				color: $brand-primary-color;
			}
		}
	}

	.bottom-cta {
		text-align: center;
		margin-bottom: $sz-med;

		.title {
			font-weight: normal;
			color: $brand-primary-color;
			font-size: 24px;
			text-transform: uppercase;

			@include bp-min($bp-max) {
				font-size: 36px;
				margin-bottom: $sz-x-sml;
			}
		}

		.button {
			background-color: $brand-primary-color;
			color: $white;
			border-color: $brand-primary-color;

			&:hover {
				background-color: lighten($brand-primary-color, 15%);
			}

			&:active {
				background-color: darken($brand-primary-color, 15%);
			}			
		}
	}
}