.pg-course-details {

	.video-and-summary {
		@include clearfix;
		display: block;
		width: 100%;
		padding: $sz-med;
		padding-bottom: 0;

		.course-summary {
			border: 1px solid $gray;
			padding: 20px;
			float: left;
			width: 100%;
			font-size: 16px;
			@include clearfix;

			@include bp-min($bp-x-lrg) {
				width: 26%;
			}

			h2{ margin-bottom:15px; }

			.title {
				text-transform: uppercase;
				font-size: 20px;
			}

			.instructor-name {
				text-transform: uppercase;
				color: $pc;
			}

			.value {
				border-bottom: 1px solid #CCC;
				margin-bottom: 5px;
				padding-bottom: 5px;
				float: left;
				width: 100%;
			}

			.rating {
				color: transparent;
				display: block;
				width: 100%;
				background: {
					size: auto;
					position: left;
					repeat: no-repeat;
				}

				@include bp-min($bp-max) {
					background-position: right center;
				}
				
				&.rating-1 {
					background: {
						image: url(../img/rating-star-1.png);
					}
				}
				&.rating-2 {
					background: {
						image: url(../img/rating-star-2.png);
					}
				}
				&.rating-3 {
					background: {
						image: url(../img/rating-star-3.png);
					}
				}
				&.rating-4 {
					background: {
						image: url(../img/rating-star-4.png);
					}
				}
				&.rating-5 {
					background: {
						image: url(../img/rating-star-5.png);
					}
				}
			}

			.reviews-container,
			.rating-container {
				width: 50%;
				display: inline-block;

			}

			.price {
				color: $pc;
				text-transform: uppercase;
				font-weight: bold;
				margin-bottom: 10px;
				font-size: 20px;
				float: left;
				width: 100%;

				@include bp($bp-sml, ($bp-x-lrg - 1)) {
					width: auto;
				}

				@include bp-min($bp-max) {
					width: auto;
				}
			}

			.start-button {
				float: left;

				@include bp($bp-sml, ($bp-x-lrg - 1)) {
					float: right;
				}

				@include bp-min($bp-max) {
					float: right;
				}
			}
		}

		.summary-list {
			float: left;
			margin: 0;
			margin-bottom: 14px;
			width: 100%;

			.key {
				font-weight:bold;
			}
		}
	}
	
	.preview-video-container {
		float: left;
		display: inline-block;
		position: relative;
		width: 100%;
		margin-bottom: $sz-med;

		// vertically center the video when the summary is too tall
		@include bp($bp-x-lrg, ($bp-max - 1)) {
			margin-top: 65px;
		}

		@include bp-min($bp-x-lrg) {
			width: 72%;
			margin-right: 2%;
			margin-bottom: 0;
		}

		.wrapper {
			position: relative;
			width: 100%;
		}
	}

	.course-description {
		display: block;
		padding: $sz-med;
		text-align: center;

		@include bp-min($bp-x-lrg) {
			
			padding: $sz-med $sz-xxxx-lrg;
		}
	}

	.share-options {

		padding: $sz-med;
		padding-top: 0;

		//@include bp-min($bp-x-lrg) {
			text-align: center;
		//}

		.title {
			text-transform: uppercase;
			font-weight: normal;
			color: $pc;
			font-size: 20px;
		}
	}

	.modules-overview {
		border: 1px solid $gray;

		.title {
			text-align: center;
			font-weight: normal;
			text-transform: uppercase;
			padding: $sz-med;
			line-height: 1;
			background: $pc;
			color: $white;
			font-size: 20px;
			margin: 0;
		}

		.modules-list {
			padding: $sz-med;
			list-style: none;
			margin: 0;
			@include clearfix;

			li {
				float: left;
				margin: 0;
				display: inline-block;
				width: 100%;
				border-bottom: 1px solid $gray;
				padding-bottom: $sz-x-sml;
				margin-bottom: $sz-x-sml;
				@include clearfix;

				@include bp-min($bp-x-lrg) {
					width: 48%;

					&:nth-of-type(odd) {
						margin-right: 2%;
					}

					&:nth-of-type(even) {
						margin-left: 2%;
					}
				}
			}

			.chapter-name {
				float: left;
				width: 75%;
				text-align: left;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
			}

			.chapter-length {
				float: right;
				width: 25%;
				text-align: right;
			}
		}
	}

	.more-courses-title {
		text-align: center;
		text-transform: uppercase;
		font-weight: normal;
		color: $sc;
	}
}