.pg-finished-course {

	.brand-color-title {
		text-align: center;
		font-weight: normal;
		text-transform: uppercase;
		color: $sc;
	}
	
	.view-courses-container {
		margin-bottom: $sz-med;
		text-align: center;

		@include bp-min($bp-med) {
			margin-bottom: $sz-lrg;
		}

		@include bp-min($bp-lrg) {
			margin-bottom: $sz-x-lrg;
		}
	}

	.certificate-section {
		text-align: center;
		position: relative;

		border-bottom: 1px solid $gray;
		margin-bottom: $sz-med;

		padding: $sz-sml;
		padding-top: 0;

		@include bp-min($bp-lrg) {
			padding: $sz-med;
			padding-top: 0;
		}

		.button {
			margin-left: $sz-x-sml;
			margin-right: $sz-x-sml;
		}

		.background {
			z-index: 0;
			position: absolute;
			width: 100%;
			left: 0;
			top: 0;

			background-color: #ff8200;
			line-height: 0;
		}

		.button {
			margin-bottom: $sz-med;
		}

		.avatar {
			border: 8px solid $white;
			border-radius: 50%;
			width: 100px;
			border-width: 4px;

			@include bp-min($bp-sml) {
				width: 110px;
			}

			@include bp-min($bp-med) {
				border-width: 5px;
				width: 120px;
			}

			@include bp-min($bp-lrg) {
				border-width: 6px;
				width: 130px;
			}

			@include bp-min($bp-x-lrg) {
				border-width: 7px;
				width: 140px;
			}

			@include bp-min($bp-max) {
				border-width: 8px;
				width: 150px;
			}
		}

		.name {
			text-transform: uppercase;

			@include bp-min($bp-sml) {
				font-size: 25px;
			}

			@include bp-min($bp-lrg) {
				font-size: 30px;
			}
		}

		.congratulations {
			color: $sc;
			text-transform: uppercase;
			font-weight: bold;

			@include bp-min($bp-sml) {
				font-size: 25px;
			}

			@include bp-min($bp-lrg) {
				font-size: 30px;
			}
		}

		.results-summary {

			.course-name {
				display: block;
				text-transform: uppercase;
				font-weight: bold;
				line-height: 1;

				@include bp-min($bp-sml) {
					font-size: 18px;
				}

				@include bp-min($bp-lrg) {
					font-size: 23px;
				}
			}
		}

		.status-info {
			color: $white;
			font-weight: normal;
			text-transform: uppercase;
			padding-top: $sz-lrg;

			font-size: 20px;

			@include bp-min($bp-sml) {
				font-size: 20px;
			}

			@include bp-min($bp-med) {
				font-size: 21px;
			}

			@include bp-min($bp-lrg) {
				font-size: 23px;
			}

			@include bp-min($bp-x-lrg) {
				font-size: 26px;
			}

			@include bp-min($bp-max) {
				font-size: 34px;
			}
		}

		.share-options {
			margin-bottom: $sz-med;

			.title {
				color: $pc;
				text-transform: uppercase;
				font-weight: bold;
				font-size: 16px;
				margin-bottom: $sz-sml;
			}

			.social-links {

				a {
					border-color: $pc;
					color: $pc;
				}

				.socicon {
					color: $pc;
				}
			}
		}

		> * {
			position: relative;
			z-index: 1;
		}
	}
}