#general-content-page {
	.small-page-heading{
		font-size: 23px;
		margin:0;
		padding: 0 0 0 30px;
		text-align: left;
		color:#FFF;
		text-transform:uppercase;
	}
	
	p{
		max-width: 100%;
		text-align:left;
	}
	
	h2,h3{ text-align:left; }
	h2{ font-size:22px; }
	h3{ font-size:20px; }
	
	.certificate-section{ border-bottom:0; margin-bottom:10px; }
	
	picture{ position:relative; display:block; height:200px; overflow:hidden; margin:0 0 25px 0; }
	picture table{ position:absolute; left:0; top:0; z-index:50; }
}

/* RESPONSIVE */

@include bp-max($bp-sml){
	#general-content-page picture{ height:120px; }
}

/* CREDIT CARD */

#main .credit-card-form{ margin-top:50px; }