.pg-player {

	h3 {
		font-weight: normal;
		color: $pc;
	}

	.video-and-utilities {
		@include clearfix;
		display: block;
		width: 100%;
		padding: $sz-med;
		padding-bottom: 0;

		.preview-video-container {
			float: left;
			display: inline-block;
			position: relative;
			width: 100%;
			margin-bottom: $sz-med;

			// vertically center the video when the summary is too tall
			@include bp($bp-x-lrg, ($bp-max - 1)) {
				margin-top: 65px;
			}

			@include bp-min($bp-x-lrg) {
				width: (((100% / 3) * 2) - 1);
				margin-right: 2%;
				margin-bottom: 0;
			}

			.wrapper {
				position: relative;
				width: 100%;
			}
		}

		.side-utilities {
			border: 1px solid $gray;
			float: left;
			width: 100%;
			font-size: 16px;
			@include clearfix;

			@include bp-min($bp-x-lrg) {
				width: ((100% / 3) - 1);
				height: 456px;
			}

			.simpletab-container {
				width: 100%;

				.simpletab-tab {
					padding: 8px 5px;
					border: 1px solid $gray-light;
					border-right: none;
					border-top: none;
					//background-color: #f2f2f2;

					&:first-child {
						border-left: none;
					}

					&[data-selected="true"] {
						color: $pc;
						border-bottom: none;
						background-color: white;
					}

					img {
						margin-top: 5px;
						width: 40px;
					}
				}
			}

			.simpletab-target {
				padding: $sz-med;
	
				@include bp-min($bp-x-lrg) {
					height: 385px;
					overflow-y: auto;
					-webkit-overflow-scrolling: touch;
				}
			}
		}
	}

	.aux-tools {

		.module-navigation {
			width: 100%;
			@include clearfix;

			@include bp-min($bp-x-lrg) {
				width: (((100% / 3) * 2) - 1);
				margin-right: 2%;
				margin-bottom: 0;
			}

			a {
				text-transform: uppercase;
				font-size: 15px;
				text-align: center;
				display: inline-block;
				float: left;
				color: $white;
				padding: $sz-sml;
				border-radius: 0;
				width: 100%;
				margin-bottom: 3px;

				@include bp-min($bp-med) {
					border: 2px solid $white;
					border-top: none;
					border-bottom: none;
					width: (100% / 3);
				}

				&:first-child {
					border-left: none;
				}

				&:last-child {
					border-right: none;
				}
			}
		}
	}

	.modules-list {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			border-bottom: 1px solid $gray-light;
			padding-bottom: $sz-sml;
			margin-bottom: $sz-sml;
		}

		.module-number {
			margin-bottom: 0;
			color: $pc;
			font-weight: normal;
		}

		.module-name {
			text-transform: uppercase;
		}

		.completed {
			.module-number,
			.module-name {
				color: $gray-light;
			}
		}
	}

	.downloads-list {
		display: block;
		margin: 0;
		margin-top: $sz-med;
		list-style: none;
		padding: 0;
	
		li {
			border-bottom: 1px solid $gray-light;
			padding-bottom: $sz-sml;
			margin-bottom: $sz-sml;
			background: {
				image: url(../svg/icons/resources.svg);
				position: right top;
				size: auto 70%;
				repeat: no-repeat;
			}
		}

		.download-item {
			display: block;
			width: 100%;
			
		}
	}
}