.clearfix {
	@include clearfix;
}

a.blend-in {
	text-decoration: inherit;
	color: inherit;
}

.visuallyhidden {
	position: absolute;
	top: -9999px;
	left: -9999px;

	&.except-on-focus:focus {
		position: static;
	}
}

.nobr {
	white-space: nowrap;
}

html .no-js {
	display: none;
}

img {
	border: 0;
}

.link-list {
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		display: inline-block;
		margin: 0;
		padding: 0;

		margin-bottom: $sz-med;

		&:last-child {
			margin-bottom: 0;
		}

		@include bp-min($bp-med) {
			margin-bottom: 0;
		}
	}

	a {
		display: inline-block;
		margin: 0 $sz-sml;
		width: 190px;
	}
}