@mixin h-center
{
	margin-left: auto;
	margin-right: auto;
}

@mixin clearfix
{
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin visuallyhidden
{
	border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

@mixin box-sizing($box-model)
{
	-webkit-box-sizing: $box-model;
	   -moz-box-sizing: $box-model;
	        box-sizing: $box-model;
}

@mixin opacity($opacity)
{
	opacity: $opacity;

	@if ($support-ie-8)
	{
		$opacity-ie: $opacity * 100;
		filter: alpha(opacity=$opacity-ie);
	}
}

@mixin nobr
{
	white-space: nowrap;
}

@mixin truncate-line($width)
{
	width: $width;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@mixin section-padding-set {
    $section-padding: (
        /* ( Break-point, Padding ) */
        ($bp-med, 30px 25px),
        ($bp-lrg, 35px 30px),
        ($bp-x-lrg, 50px 40px)
    );

    padding: 15px;

    @each $section in $section-padding {

        @include bp-min(#{nth($section, 1)}) {
            padding: nth($section,2);
        }

    }
}

@mixin section-padding($top, $right, $bottom, $left) {
    padding: $top $right $bottom $left;
}

@mixin if-hidpi() {
	@media only screen and
	(-webkit-min-device-pixel-ratio: 2), 
	(min-resolution: 192dpi) { 
		@content;
	}
}

@mixin nth-icon($itemNum, $leftPos) {

	li:nth-child(#{$itemNum}) .icon {
		background-position: $leftPos 0;
	}
}