@mixin font-primary {
	font-family: 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body,
input,
textarea,
select {
	@include font-primary;
	font-size: 16px;
	line-height: 1.5;
	color: #444;

	@include bp-min($bp-med) {
		font-size: 16px;
	}

	@include bp-min($bp-lrg) {
		font-size: 17px;
	}

	@include bp-min($bp-x-lrg) {
		font-size: 18px;
	}
}

a {
	color: $pc;
}

::-webkit-input-placeholder {
	color: inherit;
	font-weight: normal;
	font-family: inherit;
	font-size: inherit;
}

:-moz-placeholder { /* Firefox 18- */
	color: inherit;
	font-weight: normal;
	font-family: inherit; 
	font-size: inherit; 
}

::-moz-placeholder {  /* Firefox 19+ */
	color: inherit;
	font-weight: normal;
	font-family: inherit; 
	font-size: inherit; 
}

:-ms-input-placeholder {  
	color: inherit;
	font-weight: normal;
	font-family: inherit; 
	font-size: inherit; 
}