/*
 * ================================================
 * COLOR DECLARATIONS
 * ================================================
 */

/*
 * ------------------------------------
 * PRIMARY COLOR DECLARATIONS
 * ------------------------------------
 */

$pc: $primary-color; 

$pc-xx-dark: darken($pc, 35%);
$pc-x-dark: darken($pc, 25%);
$pc-dark: darken($pc, 15%);

$pc-light: lighten($pc,15%);
$pc-x-light: lighten($pc,25%);
$pc-xx-light: lighten($pc,35%);

/*
 * ------------------------------------
 * SECONDARY COLOR DECLARATIONS
 * ------------------------------------
 */

$sc: $secondary-color; 

$sc-xx-dark: darken($sc, 35%);
$sc-x-dark: darken($sc, 25%);
$sc-dark: darken($sc, 15%);

$sc-light: lighten($sc,15%);
$sc-x-light: lighten($sc,25%);
$sc-xx-light: lighten($sc,35%);

/*
 * ------------------------------------
 * GRAYSCALE COLOR DECLARATIONS
 * ------------------------------------
 */

$black: #000;

$gray-xx-dark: #333;
$gray-x-dark: #555;
$gray-dark: #777;

$gray: #999;

$gray-light: #AAA;
$gray-x-light: #CCC;
$gray-xx-light: #EEE;

$white: #fff;

/*
 * ================================================
 */
