/*
 * ================================================
 * LAYOUT SIZING DECLARATIONS
 * ================================================
 */

$sz-xxx-sml:	($base-size / 4);
$sz-xx-sml:		($base-size / 4);
$sz-x-sml:		($base-size / 3);
$sz-sml: 		($base-size / 2);

$sz-med: 		$base-size;

$sz-lrg:		($base-size * 1.5);
$sz-x-lrg:		($base-size * 2);
$sz-xx-lrg:		($base-size * 3);
$sz-xxx-lrg:	($base-size * 4);
$sz-xxxx-lrg:	($base-size * 5);
$sz-xxxxx-lrg:	($base-size * 6);