/*
 * ================================================
 * MEDIA QUERY DECLARATIONS
 * ================================================
 */

/* 
 * ------------------------------------
 * BASIC BREAKPOINT DECLARATIONS
 * ------------------------------------ 
 */

$bp-min: 	320px; // minimum stage width

$bp-sml: 	480px;
$bp-med: 	640px;
$bp-lrg: 	768px;
$bp-x-lrg: 	1000px;

$bp-max: 	$max-stage-width;  //the largest before a fixed, centered design kicks in

/* 
 * ------------------------------------
 * MEDIA QUERY DECLARATIONS
 * ------------------------------------  
 */

@mixin bp-min($bp)
{
	@if ($responsive == true)
	{
		@media screen and (min-width: $bp)
		{
			@content;
		}

		@if ($support-ie8 == true)
		{
			@if ($legacy-stylesheet == true)
			{
				//@if ($bp >= $bp-max)
				//{
					@content;
				//}
			}
		}
	}
	@else
	{
		@if ($bp >= $bp-max)
		{
			@content;
		}
	}
}

@mixin bp-max($bp)
{
	@if ($responsive == true)
	{
		@media screen and (max-width: $bp)
		{
			@content;
		}
	}
	@else
	{
		@if ($bp >= $bp-max)
		{
			@content;
		}
	}
}

@mixin bp($minBP, $maxBP)
{
	@if ($responsive == true)
	{
		@media screen and (min-width: $minBP) and (max-width: $maxBP)
		{
			@content;
		}
	}
	@else
	{
		@if ($minBP >= $bp-max)
		{
			@content;
		}
	}
}

/*
 * ================================================
 */