body {
	background-color: #ebebeb;
	padding: 0;
	margin: 0;
	-webkit-font-smoothing: antialiased;
}

#body-wrap {
	background-color: $white;
	display: block;
	width: 100%;
	position: relative;
	@include h-center;
	overflow-x: hidden;

	@include bp($bp-min, ($bp-sml - 1)) {
		max-width: $bp-min;
	}

	@include bp($bp-sml, ($bp-med - 1)) {
		max-width: $bp-sml;
	}

	@include bp($bp-med, ($bp-lrg - 1)) {
		max-width: $bp-med;
	}

	@include bp($bp-lrg, ($bp-x-lrg - 1)) {
		max-width: $bp-lrg;
	}

	@include bp($bp-x-lrg, ($bp-max - 1)) {
		max-width: $bp-x-lrg;
	}

	@include bp-min($bp-max) {
		max-width: $bp-max;
	}
}
