.button {
	display: inline-block;
	text-decoration: none;
	line-height: 1;
	padding: 0.5em 1.5em;

	border: solid 1px $gray;
	border-radius: 2rem;

	color: inherit;
	cursor: pointer;

	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	&.pc {
		border-color: $pc;
		color: $pc;

		&:hover,
		&:focus {
			background-color: $pc;
			border-color: $pc;
			color: $white;
		}

		&:active {
			background-color: $pc-dark;
			border-color: $pc-dark;
		}
	}

	&.sc {
		border-color: $sc;
		color: $sc;

		&:hover,
		&:focus {
			background-color: $sc;
			border-color: $sc;
			color: $white;
		}

		&:active {
			background-color: $sc-dark;
			border-color: $sc-dark;
		}
	}

	&.filled-pc {
		background-color: $pc;
		border-color: $pc;
		color: $white;

		&:hover,
		&:focus {
			background-color: $pc-light;
			border-color: $pc-light;
		}

		&:active {
			background-color: $pc-dark;
			border-color: $pc-dark;
		}
	}

	&.filled-sc {
		background-color: $sc;
		border-color: $sc;
		color: $white;

		&:hover,
		&:focus {
			background-color: $sc-light;
			border-color: $sc-light;
		}

		&:active {
			background-color: $sc-dark;
			border-color: $sc-dark;
		}
	}

	&.filled-gray {
		background-color: $gray-dark;
		border-color: $gray-dark;
		color: $white;

		&:hover,
		&:focus {
			background-color: $gray;
			border-color: $gray;
		}

		&:active {
			background-color: $gray-x-dark;
			border-color: $gray-x-dark;
		}
	}

	&.filled-white {
		background-color: $white;
		border-color: $white;

		&:active {
			background-color: $gray-xx-light;
			border-color: $gray-xx-light;
		}

		&.text-pc {
			color: $pc;
		}

		&.text-sc {
			color: $sc;
		}
	}
}