footer {
	@include clearfix;
	display: block;
	background-color: $gray-x-dark;
	color: $gray;
	font-size: 16px;

	a {

		color: inherit;
		text-decoration: none;

		&:hover,
		&:focus {
			color: $white;
		}
	}

	.footer-section {
		width: 100%;
		float: left;
		vertical-align: top;
		padding: $sz-med;

		&.left {
			padding-bottom: 0;
		}

		@include bp-min($bp-med) {
			padding: $sz-med $sz-lrg;
			width: 50%;

			&.left {
				text-align: left;
				padding-bottom: $sz-lrg;
			}

			&.right {
				text-align: right;
			}

			&.topless {
				padding-top: 0;
			}
		}
	}

	.button {
		margin-bottom: $sz-med;
		background-color: $gray;
		color: $gray-x-dark;
	}

	.aux-links {

		a {
			display: inline-block;
			margin-right: $sz-med;
			margin-bottom: $sz-sml;
		}
	}

	.social-links {

		.social-link {
			border: 2px solid $gray;
			color: $gray;

			.socicon {
				color: inherit;
			}

			&:hover {
				border: 2px solid $gray-x-light;
				color: $gray-x-light;
			}
		}
	}
}