header {
	background-color: $white;
	position: relative;
	font-size: 14px;
	padding: $sz-med;
	@include clearfix;
	text-align: center;

	@include bp-min($bp-med) {
		padding: $sz-med;
	}

	@include bp-min($bp-max) {
		text-align: right;
	}

	.menu-toggle {

		height: $sz-med;
		vertical-align: middle;
		margin-top: 3px;
		float: right;
		cursor: pointer;

		@include bp-min($bp-max) {
			display: none;
		}
	}

	.logo {

		float: left;

		@include bp-min($bp-max) {
			
			vertical-align: middle;
			position: relative;
			top: 3px;	
		}
	}

	nav {

		float: left;
		display: block;
		text-align: center;
		//border-bottom: 1px solid $sc;
		margin-bottom: $sz-med;
		margin-top: $sz-med;
		width: 100%;

		&[data-state="closed"] {
			@include bp-max(($bp-max - 1)) {
				display: none;
			}
		}

		a {
			display: block;
			//border-top: 1px solid $sc;
			text-transform: uppercase;
			text-decoration: none;
			color: $gray-dark;
			vertical-align: middle;
			
			font-weight: bold;
			padding: $sz-sml;
		}

		@include bp-min($bp-max) {
			margin-bottom: 0;
			margin-top: 0;
			width: auto;
			float: none;
			margin-top: -3px;
			vertical-align: middle;
			display: inline-block;
			border-bottom: none;

			&.with-buttons {
				margin-top: 3px;
			}

			a {
				padding: 0;
				display: inline-block;
				margin-left: $sz-med;
				border-top: none;

				&:hover {
					color: $sc;
				}
			}
		}
	}

	.user-dropdown-link {
		vertical-align: middle;
		text-transform: uppercase;
		color: $sc;
		font-weight: bold;
		text-decoration: none;
		display: inline-block;
		float: left;

		@include bp-max(($bp-max - 1)) {
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			width: 100%;
		}

		@include bp-min($bp-max) {
			float: none;
			margin-left: $sz-med;
		}

		&[data-state="closed"] {
			@include bp-max(($bp-max - 1)) {
				display: none;
			}
		}

		img {
			vertical-align: middle;
		}
	}
}