input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
textarea {

	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 1px solid $gray-dark;
	padding: $sz-sml;
	width: 100%;
}

input,
select,
textarea {
	color: inherit;
	font-weight: normal;
	font-family: inherit;
	font-size: inherit;
}

select {
	line-height: $sz-lrg;
}

form {
	width: 100%;
	display: block;
	@include clearfix;
	//float: left;

	> p {
		width: 100%;
		@include clearfix;
	}
}