$onlyOneFont: false;

$webfonts: (
	/* ( Name, filename ) */
	('Proxima Nova', 'proximanova'),
	('Socicon', 'socicon')
);

@if ($onlyOneFont == true) {

	@font-face {
		font-family: nth($webfonts,1);
		src: url('../fonts/#{nth($webfonts,2)}/#{nth($webfonts,2)}.eot?#iefix') format('embedded-opentype'), 
			 url('../fonts/#{nth($webfonts,2)}/#{nth($webfonts,2)}.woff') format('woff'), 
			 url('../fonts/#{nth($webfonts,2)}/#{nth($webfonts,2)}.ttf')  format('truetype');
	}
} 
@else 
{
	@each $font in $webfonts {
		@font-face {
		font-family: nth($font,1);
		src: url('../fonts/#{nth($font,2)}/#{nth($font,2)}.eot?#iefix') format('embedded-opentype'), 
			 url('../fonts/#{nth($font,2)}/#{nth($font,2)}.woff') format('woff'), 
			 url('../fonts/#{nth($font,2)}/#{nth($font,2)}.ttf')  format('truetype');
		}
	}
}