.course-summary-tile {
	
	@include clearfix;
	width: 100%;
	display: block;
	border: 1px solid $gray;
	margin-bottom: $sz-med;
	float: left;
	position: relative;

	@include bp($bp-med, ($bp-x-lrg - 1)) {
		width: 48%;

		&:nth-child(even) {
			margin-left: 4%;
		}
	}

	@include bp-min($bp-x-lrg) {

		width: 32%;
		float: left;

		&:nth-of-type(n+2) {
			margin-left: 2%;
		}

		&:nth-of-type(3n+1) {
			margin-left: 0;
		}
	}

	@include bp-min($bp-max) {
		&.tall {
			&:nth-of-type(n+2) {
				margin-left: 2%;
			}

			&:nth-of-type(4n+1) {
				margin-left: 0;
			}
		}

		// kill the left margin on the first
		// tall items after the wide ones.
		// Can't use :first-of-type because
		// that's by tag only -- not class
		&.wide + &.tall {
			margin-left: 0;
		}
	}

	&.wide {
		@include bp-min($bp-max) {
			width: 100%;
			margin-left: 0;
			height: 250px;

			$column-1-left: 450px;

			.thumbnail {
				width: auto;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
			}

			.course-collection {
				position: absolute;
				top: 30px;
				left: $column-1-left;
				margin: 0;
			}

			.extra-information {
				position: absolute;
				top: $sz-xx-lrg;
				right: $sz-med;
				text-align: center;

				.value {
					margin-bottom: $sz-sml;
				}
			}

			.name {
				position: absolute;
				left: $column-1-left;
				top: 75px;
				width: 500px;
				margin: 0;
			}

			.description {
				position: absolute;
				left: $column-1-left;
				width: 500px;
				top: 140px;

				$number-of-lines: 2;
				$line-height: 1.2;
				height: ((1em * $line-height) * $number-of-lines);
			}

			.course-summary {

				position: absolute;
				top: 205px;
				left: $column-1-left;
				width: 500px;

				.value {
					display: inline-block;
					height: 1.2em;
					vertical-align: middle;

					&.instructor-name {
						margin-right: $sz-sml;
						padding-right: $sz-sml;
						border-right: 1px solid $black;
						width: auto;
					}
				}
			}

			.extra-information {
				.rating {
					background-position: center;
				}

				.rating-container,
				.price-container {
					width: auto;
					float: none;
				}
			}

			.view-course-button {
				margin: 0 !important;
			}

		} // @include bp-min($bp-max)

	} // &.wide

	.thumbnail {
		display: block;
		width: 100%;
	}

	.course-collection {
		text-transform: uppercase;
		font-size: $sz-sml;
		font-weight: bold;
	}

	.add-to-wishlist-button {
		color: $black;
		font-size: 14px;
		font-weight: normal;
		vertical-align: middle;
		line-height: 1;

		&:before {
			content: '';
			$size: $sz-med;
			height: $size;
			width: $size;
			display: inline-block;
			vertical-align: middle;
			background: {
				image: url(../svg/icons/wishlist.svg);
				size: cover;
				position: center;
				repeat: no-repeat;
			}
		}
	}

	.name {
		text-transform: uppercase;
		line-height: 1.2;
		font-size: 20px;
		font-weight: bold;

		@include bp-min($bp-med) {
			$number-of-lines: 4;
			$line-height: 1.2;
			height: ((1em * $line-height) * $number-of-lines);
		}
	}

	.course-collection,
	.name,
	.description,
	.course-summary,
	.extra-information {
		padding: {
			top: 0;
			bottom: 0;
			left: $sz-med;
			right: $sz-med;
		}
	}

	.course-collection,
	.name,
	.description,
	.course-summary,
	.extra-information,
	.thumbnail {
		margin: 0;
		margin-bottom: $sz-med;
	}

	.description {
		display: none;
		$number-of-lines: 3;
		$line-height: 1.2;
		line-height: $line-height;
		height: ((1em * $line-height) * $number-of-lines);
		overflow: hidden;

		@include bp-min($bp-sml) {
			display: block;
		}

		@include bp-min($bp-med) {
			$number-of-lines: 4;
			$line-height: 1.2;
			height: ((1em * $line-height) * $number-of-lines);
		}
	}

	.course-summary {
		display: block;
		text-transform: uppercase;
		font-size: 13px;
		font-weight: bold;
		@include clearfix;

		.key,
		.value {
			margin: 0;
		}

		.key {
			@include visuallyhidden;
		}

		.value {
			width: 100%;
			display: block;

			@include bp-min($bp-med) {
				width: auto;
				float: left;
				border-right: 1px solid $black;
				margin-right: $sz-sml;
				padding-right: $sz-sml;

				&:last-of-type {
					border-right: none;
				}

				&.instructor-name {
					width: 100%;
					border-right: none;
					margin-right: 0;
					padding-right: 0;
				}
			}
		}
	}

	.extra-information {
		display: block;
		color: $pc;
		text-transform: uppercase;
		font-weight: bold;
		@include clearfix;

		.key,
		.value {
			margin: 0;
		}

		.key {
			@include visuallyhidden;
		}

		.rating {
			color: transparent;
			display: block;
			width: 100%;
			background: {
				size: auto;
				position: left;
				repeat: no-repeat;
			}

			@include bp-min($bp-max) {
				background-position: right center;
			}
			
			&.rating-1 {
				background: {
					image: url(../img/rating-star-1.png);
				}
			}
			&.rating-2 {
				background: {
					image: url(../img/rating-star-2.png);
				}
			}
			&.rating-3 {
				background: {
					image: url(../img/rating-star-3.png);
				}
			}
			&.rating-4 {
				background: {
					image: url(../img/rating-star-4.png);
				}
			}
			&.rating-5 {
				background: {
					image: url(../img/rating-star-5.png);
				}
			}
		}

		.rating-container,
		.price-container {
			
			@include bp-min($bp-max) {
				width: 50%;
				float: left;
				margin-bottom: $sz-sml;
			}
		}

		.view-course-button,
		.price-container {
			margin-top: $sz-med;
		}

		.view-course-button {
			font-size: 14px;
		}
	}

	.instructor-name {
		color: $pc;
	}
}

.course-summary-list {
	display: block;
	padding: {
		left: $sz-med;
		right: $sz-med;
	}
	@include clearfix;
}

.course-summary-tile-small {
	
	float: left;
	
	border: 1px solid $gray-light;
	vertical-align: top;
	text-transform: uppercase;
	padding-bottom: $sz-xx-sml;
	margin-bottom: $sz-med;
	position: relative;

	width: 100%;
	height: auto;

	@include bp($bp-med, ($bp-lrg - 1)) {
		height: 328px;
		width: (100% / 2) - 1;
		margin-left: 2.003%; // magic number, found by hand

		&:nth-child(2n+1) {
			margin-left: 0;
		}

		.start-link {
			position: absolute;
			bottom: $sz-x-sml;
			left: 0;
		}
	}

	@include bp($bp-lrg, ($bp-max - 1)) {
		height: 328px;
		width: (100% / 3) - 1;
		margin-left: 1.501%; // magic number, found by hand

		&:nth-child(3n+1) {
			margin-left: 0;
		}

		.start-link {
			position: absolute;
			bottom: $sz-x-sml;
			left: 0;
		}
	}

	@include bp-min($bp-max) {
		height: 290px;
		width: (100% / 6) - 1;
		margin-left: 1.2023132443428040661%; // magic number, found by hand

		&:first-child {
			margin-left: 0;
		}

		.start-link {
			position: absolute;
			bottom: $sz-x-sml;
			left: 0;
		}
	}

	.thumbnail {
		width: 100%;
		margin-bottom: $sz-xx-sml;
	}

	.course-collection,
	.name,
	.start-link {
		padding: {
			left: $sz-sml * 1.5;
			right: $sz-sml * 1.5;
		}
	}

	.course-collection {
		font-size: 12px;
		font-weight: bold;
		margin-bottom: $sz-sml;
	}

	.name {
		font-weight: bold;
		line-height: 1.2;
		font-size: 15px;
		margin-bottom: $sz-x-sml;
	}

	.start-link {
		display: block;
		text-decoration: none;
		font-size: 13px;

		&:hover {
			text-decoration: underline;
		}
	}
}