.course-instructors-list {
	display: block;
	width: 100%;

	.title {
		display: block;
		width: 100%;
		background: $pc;
		color: $white;
		text-align: center;
		font-weight: normal;
		text-transform: uppercase;
		padding: $sz-sml;
		margin-bottom: $sz-med;
	}
}

.instructor-spotlight {
	display: block;
	width: 100%;
	padding: 0 $sz-med $sz-med;
	vertical-align: top;

	@include bp-min($bp-lrg) {
		display: inline-block;
		text-align: center;
		max-width: 49%;
		padding: {
			left: $sz-med;
			right: $sz-med;
		}
		@include h-center;
	}

	.avatar,
	.name,
	.bio,
	.reviews-link {
		margin-bottom: $sz-med;
	}

	.name {
		text-transform: uppercase;
		font-weight: normal;
	}

	.reviews-link {
		display: block;
		color: $black;
		text-transform: uppercase;
		text-decoration: none;
		font-weight: bold;
		font-size: 14px;

		&:hover {
			text-decoration: underline;
		}
	}
}