.course-progress-tile {
	@include clearfix;
	width: 100%;
	display: block;
	border: 1px solid $gray;
	margin-bottom: $sz-med;
	float: left;
	position: relative;

	@include bp($bp-med, ($bp-x-lrg - 1)) {
		width: 48%;

		&:nth-child(even) {
			margin-left: 4%;
		}
	}

	@include bp-min($bp-x-lrg) {

		width: 32%;
		float: left;

		&:nth-of-type(n+2) {
			margin-left: 2%;
		}

		&:nth-of-type(3n+1) {
			margin-left: 0;
		}
	}

	@include bp-min($bp-max) {
		&.tall {
			&:nth-of-type(n+2) {
				margin-left: 2%;
			}

			&:nth-of-type(4n+1) {
				margin-left: 0;
			}
		}

		// kill the left margin on the first
		// tall items after the wide ones.
		// Can't use :first-of-type because
		// that's by tag only -- not class
		&.wide + &.tall {
			margin-left: 0;
		}
	}

	.thumbnail {
		width: 100%;
	}

	.course-summary {
		padding: {
			left: $sz-med;
			right: $sz-med;
			margin: 0;
		}

		text-transform: uppercase;
		font-size: 14px;
		font-weight: bold;

		.value {
			margin-bottom: 0;
		}

		.instructor {
			color: $pc;
		}

		.title {
			font-size: 19px;
			margin-bottom: $sz-sml;

			@include bp-min($bp-med) {
				height: 3em * 1.333;
			}
		}

		.channel {
			margin-bottom: $sz-med;
		}

		.progress-key {
			margin-bottom: $sz-x-sml;

			&.invisible {
				color: transparent;
			}
		}

		.complete-notice {
			color: $sc;
			font-size: $sz-med;
			line-height: 1;
			margin-bottom: $sz-med;
			display: block;

		}

		.progress-bar {
			display: block;
			background-color: $gray-light;
			height: $sz-med;
			border-radius: $sz-med;
			margin-bottom: $sz-med;
			width: 100%;
			max-width: 200px;

			&:before {
				content: '';
				display: inline-block;
				background-color: $sc;
				height: $sz-med;
				border-radius: $sz-med 0 0 $sz-med;
			}

			/* prints out .progress-n styles from 0 to 100 percent
			 * eg .progress-5 or .progress-100 */
			@for $i from 0 through 20 {
				&.progress-#{$i*5} {
					&:before {
						width: #{$i*5%};
					}
				}
			}
		}
	}

	.share-title {
		font-size: 14px;
		color: $pc;
		margin-bottom: $sz-x-sml;
		padding-left: $sz-med;
	}

	.social-links {
		padding-left: $sz-med;
		margin-bottom: $sz-med;
	}

	.social-links .social-link {
		width: 40px;
		height: 40px;

		border-color: $pc;

		.socicon {
			color: $pc;
			font-size: 14px;
			line-height: 35px;
		}
	}

	.button-holders {
		padding-left: $sz-med;

		.button {
			margin-bottom: $sz-med;
		}
	}
}

.course-summary-list,
.course-progress-list {
	display: block;
	padding: {
		left: $sz-med;
		right: $sz-med;
	}
	@include clearfix;
}