.fluid-video {
	position: relative;
	
	.wrapper {
		padding-bottom: 56.25%; // for 16/9 videos
	}

	iframe {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
	}
}