.hero-section {
	background-color: $pc;
	color: $white;
	text-align: center;
	padding: $sz-med;
	position: relative;
	overflow: hidden;
	margin-bottom: $sz-med;

	@include bp-min($bp-med) {
		padding: $sz-med * 1.25;
	}

	@include bp-min($bp-lrg) {
		padding: $sz-lrg;
	}

	@include bp-min($bp-x-lrg) {
		padding: $sz-x-lrg;
	}

	@include bp-min($bp-max) {
		padding: $sz-xx-lrg;
	}

	.logo {
		@include h-center;
		display: block;
		height: 50px;

		@include bp-min($bp-sml) {
			height: 55px;
		}

		@include bp-min($bp-med) {
			height: 60px;
		}

		@include bp-min($bp-lrg) {
			height: 65px;
		}

		@include bp-min($bp-x-lrg) {
			height: 75px;
		}

		@include bp-min($bp-max) {
			height: 85px;
		}
	}

	.title {

		font-weight: normal;
		font-size: $sz-med;
		text-transform: uppercase;

		@include bp-min($bp-sml) {
			font-size: $sz-med * 1.25;
		}

		@include bp-min($bp-med) {
			font-size: $sz-lrg;
		}

		@include bp-min($bp-lrg) {
			font-size: $sz-lrg * 1.25;
		}

		@include bp-min($bp-x-lrg) {
			font-size: $sz-x-lrg;
		}
	}

	.logo,
	.title {
		margin-bottom: $sz-med;
	}

	.description {
		max-width: $bp-lrg;
		@include h-center;

		@include bp-min($bp-max) {
			font-size: $sz-med;
		}
	}

	.logo,
	.title,
	.description {
		position: relative;
		z-index: 1;
	}

	.background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 0;
	}
}