.instructors-list {
	display: block;
	width: 100%;
	margin-bottom: $sz-med;
	text-align: center;

	.instructor {

		display: inline-block;
		margin: 0 $sz-lrg $sz-med;
		text-transform: uppercase;
		
		.name {
			display: block;
			font-size: 22px;
			margin-bottom: 0;
		}

		.view-link {
			font-size: 14px;
			color: $gray-light;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}

		.avatar {
			border-radius: 50%;
			overflow: hidden;
		}
	}
}