#notes-container {

	margin-bottom: $sz-med;

	.note {
		@include clearfix;
		display: block;
		width: 100%;
		border-bottom: 1px solid $gray;
		padding-bottom: $sz-sml;
		opacity: 1;

		-webkit-transition: opacity 0.6s;
		-moz-transition: opacity 0.6s;
		transition: opacity 0.6s;

		&.note-hidden {
			opacity: 0;
		}

		.delete-note-button {
			float: right;
			margin-left: $sz-med;
			margin-bottom: $sz-sml;
			vertical-align: top;
		}
	}
}

#note-submit-form {
	margin-bottom: $sz-med;
}