.sign-up-box{
	width:100%;
	height:100%;
	display:none;
	background:none;
	position:absolute;
}

.sign-up-box-overlay{
	position:fixed;
	width:100%;
	height:100%;
	background:#000;
	opacity:0.7;
	z-index:500;
	padding:20px;
}

.sign-up-box-padding{ padding:0 20px; }

.sign-up-box-container{
	max-width:900px;
	margin:0 auto;
	background:#FFF;
}

div.sign-up-box-container-reduced-width{ max-width:700px; }

.pop-up-close-btn{
	display:block;
	width:29px;
	height:29px;
	position:absolute;
	top:12px;
	right:12px;
	background:url('../img/close-btn.png');
}

.sign-up-header{
	text-align:center;
	padding:20px 0 5px;
}

div.sign-up-header h3{ color:#ff4e00; text-align:center !important; }

.form-input-container{ border:1px solid #cccccc; padding:5px; margin:0 0 12px 0; }
.form-input-container input, .form-input-container select{ width:100%; border:none; background:none; padding:0; margin:0; }

#sign-up-submit{
	background:#ff6600;
	color:#FFF;
	text-transform:uppercase;
	text-align:center;
	display:inline-block;
	padding:5px 55px 4px 55px;
	border-radius:20px;
	-webkit-border-radius:20px;
	border:none;
	cursor:pointer;
	margin:10px 0 0 0;
}
#sign-up-submit:hover{ background:#df3400; }

.sign-up-disclaimer{ font-size:12px; padding-top:20px; }

.sign-up-social-link{
	display:block;
	border:1px solid #cccccc; 
	padding:6px 5px 6px 57px;
	text-decoration:none;				
	color:#444;
	margin:10px 0 0 0;
	-webkit-transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	-ms-transition: all 150ms ease-in-out;
	-o-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}

.sign-up-social-link:hover{ opacity:0.7; }

.sign-up-social-facebook{ background:url('../img/sign-up-facebook.png') no-repeat left top; }
.sign-up-social-google{ background:url('../img/sign-up-google.png') no-repeat left top; }

.sign-up-full{ width:100%; padding:20px; }
.sign-up-half{ width:50%; padding:20px; }
.float-left{ float:left; }
.float-right{ float:right; }
.clear{ clear:both; }

.sign-up-success-left{
	padding:30px 30px 0 30px;
}

.sign-up-success-left h3{ color:#ff4e00; text-transform:uppercase; font-size:26px; line-height:1.2em; margin:0 0 10px 0; text-align:center !important; }
.sign-up-success-left p{ font-size:16px; text-align:center !important; }
.sign-up-success-left h4{ color:#006666; font-size:14px; text-transform:uppercase; padding:0 0 10px 0; margin:0; }

.share-the-love a{ 
	display:block;
	float:left;
	margin:0 4px 0 0;
}

.share-the-love a img{ display:block; }

.share-the-love{ margin:0 0 20px; display:inline-block; }

.start-learning{
	background:#ff6600;
	color:#FFF;
	text-transform:uppercase;
	text-align:center;
	display:inline-block;
	padding:5px 40px 4px 40px;
	border-radius:20px;
	-webkit-border-radius:20px;
	border:none;
	cursor:pointer;
	margin:5px 0 0 0;
	text-decoration:none;
}
.start-learning:hover{ background:#df3400; }

.responsive-img{
	width:100%;
	height:auto;
}

.login{ max-width:500px !important; float:none; margin:0 auto; }
.forgot-password{ padding:0 0 10px 0; }
.forgot-password a{ text-decoration:none; font-size:14px; }
.forgot-password a:hover{ text-decoration:underline; }

/* RESPONSIVE */

@include bp-max($bp-lrg){
	.sign-up-success-left h3{ font-size:22px; }
	.share-the-love a{ margin-right:4px; display:inline-block; width:18%; }
	.share-the-love a img{ width:100%; }
}

@include bp-max($bp-med){
	div.sign-up-half{ width:100%; float:none; }
	#sign-up-submit{ display:block; margin:10px auto 0 auto; }
	div.sign-up-disclaimer{ text-align:center; }
	
	.sign-up-success-left{ text-align:center; } 
	.share-the-love{ display:inline-block; }
	.start-learning{ padding:5px 20px 4px !important; }
}

@include bp-max($bp-sml){
	div.share-the-love a{ width:17%; margin-right:6px; }
	.form-input-container{ font-size: 14px; }
}