.social-links {
		margin-left: 0;
		margin-right: 0;
		padding: 0;
		list-style: none;

		$size: 50px;

		li {
			display: inline-block;
			@include h-center;
		}

		.social-link {
			display: inline-block;
			border: 2px solid $black;
			border-radius: 50%;
			text-align: center;

			height: $size;
			width: $size;
		}

		.socicon {
			line-height: $size - 4;
			color: $black;
		}
	}