.summary-banner {
	position: relative;
	text-align: center;
	width: 100%;
	display: block;
	overflow: hidden;
	padding: $sz-lrg;
	color: $white;
	text-transform: uppercase;
	background-color: $pc;

	.logo,
	.course-collection,
	.title {
		position: relative;
	}

	.logo {
		@include h-center;
		display: block;
		height: 50px;

		@include bp-min($bp-sml) {
			height: 55px;
		}

		@include bp-min($bp-med) {
			height: 60px;
		}

		@include bp-min($bp-lrg) {
			height: 65px;
		}

		@include bp-min($bp-x-lrg) {
			height: 75px;
		}

		@include bp-min($bp-max) {
			height: 85px;
		}
	}

	.background {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
	}

	.course-collection {
		margin-bottom: $sz-x-sml;
	}

	.logo {
		margin-bottom: $sz-med;
	}

	.title {

		font-weight: normal;
		font-size: 17px;
		text-transform: uppercase;
		line-height: 1.2;

		@include bp-min($bp-med) {
			font-size: 20px;
		}

		@include bp-min($bp-lrg) {
			font-size: 25px;
		}

		@include bp-min($bp-x-lrg) {
			font-size: 30px;
		}
	}
}