.two-part-feature {
	
	display: block;
	width: 100%;
	@include clearfix;
	border-bottom: 1px solid $gray-x-light;
	padding: $sz-med;
	position: relative;
	text-align: center;

	@include bp-min($bp-x-lrg) {
		padding: $sz-lrg;
	}

	@include bp-min($bp-max) {
		padding: $sz-xxx-lrg $sz-x-lrg;
	}

	&:last-of-type {
		border-bottom: none;
	}

	&.pic-left {
		.pic {
			float: left;
			left: 0;
		}

		.content {
			float: right;
		}
	}

	&.pic-right {
		.pic {
			float: right;
			right: 0;
		}

		.content {
			float: left;
		}
	}

	.content,
	.pic {
		vertical-align: top;
	}

	.pic {
		width: 100%;
		height: 150px;
		background: {
			size: contain;
			position: center;
			repeat: no-repeat;
		}

		@include bp-min($bp-sml) {
			height: 200px;
		}

		@include bp-min($bp-med) {
			height: 250px;
		}

		@include bp-min($bp-lrg) {
			width: 50%;
			display: block;
			height: 100%;
			top: 0;
			position: absolute;
		}
	}

	.content {

		width: 100%;
		display: block;

		@include bp-min($bp-sml) {

		}

		@include bp-min($bp-med) {

		}

		@include bp-min($bp-lrg) {
			width: 50%;
		}

		@include bp-min($bp-x-lrg) {

		}

		@include bp-min($bp-max) {

		}
		
	}

	.title {
		color: $pc;
		text-transform: uppercase;
		font-weight: normal;
		margin-bottom: 0;
		font-size: 20px;

		@include bp-min($bp-sml) {
			font-size: 20px;
		}

		@include bp-min($bp-med) {
			font-size: 21px;
		}

		@include bp-min($bp-lrg) {
			font-size: 23px;
		}

		@include bp-min($bp-x-lrg) {
			font-size: 26px;
		}

		@include bp-min($bp-max) {
			font-size: 34px;
		}
	}

	.subtitle {
		font-weight: normal;
		font-size: 24px;
	}
}